.team {
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;

    &__admins {
        padding-bottom: 30px;
    }

    &__title {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-weight:800;
        padding-top: 10%;
    }
    
    &__card {
        background-color: #202020;
        margin: 30px;
        border-radius: 20px;
        width: 300px;
        padding-bottom: 20px;
    
    }

    &__picture {
        display: flex;
        justify-content: center;
        padding: 30px;
        margin-bottom: -15px;
 
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        &__name {
            color: rgb(201, 178, 99);
            font-size: 20px;
        }

        &__statut {
            color: #FFFFFF

        }
    }

    #img {
        width: 175px;

    }
}