.registration {
    background-color: black;
    text-align: center;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 768px){
        // 
          }

    &__label {
        align-items: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        line-height: normal;
        margin-right: 5px;
        color:  #C9B263;
        text-transform: uppercase;

    }

    &__title {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column-reverse;
        color:  #C9B263;
        padding: 30px;
        margin-bottom: -20px;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'MazzardL-SemiBold';
    }
    

    &__field {
    padding: 10px;
    border-radius: 20px;
    }

    &__textarea {
        border-radius: 5px;
        border: 1px solid lightgray;
        resize: none;
        height: 100px;
        width: 350px;
        border-radius: 5px;

        @media(min-width:1024px){
          height: 110px;
          width: 380px;
             }
    }
    }
    button {
        font-family: inherit;
        font-size: 20px;
        font-weight: bold;
        padding: 0.2em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.2s;
        margin: 45px;
        color:  black;
        text-transform: uppercase;
        background-color: #C9B263;
        
      }
      
      button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      
      button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      
      button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      
      button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      
      button:hover span {
        transform: translateX(5em);
      }
      
      button:active {
        transform: scale(0.95);
      }
      
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }
      
        to {
          transform: translateY(-0.1em);
        }
      }
  
  .name {

    @media(min-width: 768px){
     display: flex;
     align-items: center;
    flex-direction: column;
        }
  }

  .infos {
    @media(min-width: 768px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
         }
  }

  .fields {
    @media(min-width: 768px){
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
         }

         @media(min-width:1024px){
         margin-right: 20px;
             }
  }
      
  #name {
    margin: 5px;
  }

  input {
    text-align: center;
  }

  textarea {
    text-align: left;
    margin-left: 5px;
  }
}

.formgroup {
  @media(min-width:1024px){
    display: flex;
   margin: 20px;
       }
}

.textezone{
  
  &__avert{
    color: #C9B263;
    text-align: right;
    font-size: 10px;
  }
}


