.home {
background-color: #020202;
padding-top: 6vh;

}

.presentation {
    width: 100%;
    height: 626px;
    display: flex;
    border: 2px solid rgb(201, 178, 99);
    object-fit: cover;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    &__text {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        font-family: 'Merriweather Sans';
        color:rgb(201, 178, 99);
        font-weight: bold;
        border-radius: 40px 999em 999em 40px;
        -webkit-text-stroke: 0.3px black;
    }

    &__image {
       width: 200px;
       height: 200px;
        object-fit: cover;


        @media(min-width: 768px){
    
            }
    }

}
    .presentation__second {
        color: white;
        font-style: italic;
        text-align: center;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &__text {

            background-color: rgb(201, 178, 99);
            border-radius: 50% 20% / 10% 40%;
            color: black;
            font-size: 20px;
            text-align: center;
        }
    }

    .presentation__texte {
        border-top: solid 2px rgb(201, 178, 99);
      margin: 32px;
    padding: 32px;
    }

    .construct {
        color: wheat;
        text-transform: uppercase;
    }
