.cartes {
    background-image: url('../../../assets/images/fondtower.png');
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 768px){
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
}
