.services{
    display: flex;
    font-family: "Merriweather Sans";
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Merriweather Sans';
    background-color: white;

    &__texte {
        padding: 15px;
        background-color: black;
        color: #C9B263;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
        font-size: 15px;

        &__p {
            font-family: 'Merriweather Sans';
        }
    }

    &__card {

        width: 300px;
        margin: 0px auto;
        box-shadow:rgba(0, 0, 0, 0.5) 1px 5px 11px 1px;        
        border-radius: 10px;
        background-color: white;
        color: black;
        margin-top: 20px;


            &__entete {
            
                display: flex;
                align-items: center;
                padding: 10px;
                font-family: "Merriweather Sans";
                text-transform: uppercase;
                text-align: center;
                flex-direction: column;

                &__title {
                margin-top: 10px;
                font-family: 'Merriweather Sans';
                }
            }
    }
}

.services__card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: transform .2s;
}


