.containerSlide {
width: 50%;
margin: auto;
justify-content: space-between;

&__div {
    width: 100%;
}

&__title {

    text-align: center;
    padding: 10px;
}


.each-slide {
    width: 238px;
    height: 195px;
    
    &__img {
        background-color: lightblue;
        width: 50px;
        height: 50px;
    }

}
.indicators {
    display: flex;
}
.images-wrap {
    display: flex;
}

#generalis{
    width: 50px;
    height: 50px;
}

.images-wrap{
    width: 100%;
}

.images__partenaires{
    width: 238px;
    height: 195px;
}
}