.containerSlide {
width: 500px;
margin: auto;

&__title {
    font-size: 20px;
    background-color: #C9B263;

    color: black;
    font-family: "PTsans";
    font-weight: 600;
    line-height: normal;
    width: 100%;
    text-align: center;
}


.each-slide {


}
.indicators {
    display: flex;
}
.images-wrap {
    display: flex;
}

#cyril {

}
#boris {

}

}