* {

}

body {
        width: 100%;
        font-family: "Roboto";
        font-weight: bold;
        scroll-behavior: smooth;
        padding-top: 30px;
}

.app {
        width: 100%;
        overflow-x: hidden;
}
.app-header {
display: flex;
width: 100%;
// background-color: #ccb15d;
// background-color: #eee093;
}
