.carte {

       
        position: relative;
        opacity: 0.85;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 200px;
        justify-content: center;
        color: wheat;
        margin-top: 30px;
        // transition: 2s ease-in-out;
        margin-top: 40px;
        margin-bottom: 44px;

        // &:hover{
        //     // background-color: black;
        //     opacity: 0.85;
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     width: 300px;
        //     height: 230px;
        //     justify-content: center;
        //     color: wheat;
        //     margin-top: 30px;
        //     // transition: 0.5s ease-in-out;
        // }

        &__title {
            position: absolute;
            &__title {
                font-family: "MazzardL-SemiBold";
            }
        }

        &__more {
            position: absolute;
            text-transform: uppercase;
            background-color:white;
            padding: 15px;
            color: black;
            font-size: 20px;

            &__text {
                color: black;
            }
            
            &:hover {
                background-color: rgb(201, 178, 99);
                color: black;
                transition-duration: 1s;
            }
        }
    }

    .carte > img {
        width: 250px;
        height: 250px;
        text-align: center;
    }




