.agrements {

    &__title{
        background-color: #C9B263;
        text-align: center;
        padding: 10px;
    }   

    &__text {
        text-align: center;
        padding: 20px;
    }

    }
