.navbar {
width: 100%;
display: flex;
justify-content: space-around;

display: none;
@media(min-width: 768px){
    list-style-type: none;
    display: flex;
    }


    &__menu {
        display: none;
        
        @media(min-width: 768px){
            list-style-type: none;
            display: flex;
            }
    }

    &__links {
        appearance: none;
        background-color: transparent;
        border-radius: 0.9375em;
        box-sizing: border-box;
        color: #3B3B3B;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 0;
        min-width: 0;
        outline: none;
        padding: 3em 1.3em;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;

        &:disabled{
            pointer-events: none;
           }

         &:hover {
            color: #fff;
            background-color: #C9B263;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
           }
           
        &:active {
            box-shadow: none;
            transform: translateY(0);
           }

    }
}




// &__links {
//     display: flex;
//     align-items: center;
//     padding: 20px;
//     margin: 20px;

// }
// &__links:hover {
//     display: flex;
//     align-items: center;
//     padding: 20px;
//     background-color: #C9B263;
//     border-radius: 50% 20% / 10% 40%;
//     margin: 20px;
//     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

// }
