.header {
width: 100%;
display: flex;
justify-content: space-around;

    &__logoNeolys {
        width: 200px ;

    }

    display: flex;
    .icone-burger {
        display: flex;
        align-items: center;
    }
}