.swiper {
    width: 100%;
    height: 250px;
}

.services{
    display: flex;
    font-family: "Merriweather Sans";
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Merriweather Sans';
    background-color: white;

    &__texte {
        padding: 15px;
        background-color: black;
        color: #C9B263;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
        font-size: 15px;

        &__p {
            font-family: 'Merriweather Sans';
        }
    }

    &__grille {
        
        display: none;
        font-family: "Merriweather Sans";
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Merriweather Sans';
        margin-bottom: 30px;

        @media(min-width: 768px){
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__card {

        width: 300px;
        margin: 0px auto;
     
        border-radius: 10px;
        background-color: white;
        color: black;
        margin-top: 20px;


            &__entete {
            
                display: flex;
                align-items: center;
                padding: 10px;
                font-family: "Merriweather Sans";
                text-transform: uppercase;
                text-align: center;
                flex-direction: column;

                &__title {
                margin-top: 10px;
                font-family: 'Merriweather Sans';
                }
            }

    }
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible;
    list-style: none;
    padding: 0;
    z-index: 0;
    display: block;

    @media(min-width: 768px){
        display: none;
    }

    &__pagination {
        margin-top: 20px;
    }

}



