.services {
width: 100%;
    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    &__title {
        font-size: 20px;
        padding: 20px;
        color: black;
        font-family: "Roboto";
        font-weight: 600;
        line-height: normal;
        width: 100%;
        text-align: center; 
    }
    &__entete {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    &__titre {
        margin-left: 10px;
        text-align: center;
    }
    &__text {
        text-align: center;
    }

    &__image {
        width: 100%;
        position: relative;


    }
    &__image__img {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }

    .principal {
        position: relative;
        width: 100%;
    }

    .text-over{
        position: absolute;
        top: 67%;
        left: 16%;
        color: white;
        font-size: 20px;
    }
}